body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

#table-of-contents {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#table-of-contents h1 {
    font-size: 24px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#table-of-contents a {
    text-decoration: none;
    color: #007BFF;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s;
}

#table-of-contents a:hover {
    color: #0056b3;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 22px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}
